@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@100;300;400;700&family=Libre+Bodoni:wght@600&family=PT+Serif&display=swap");

body {
	font-family: "Montrat", sans-serif, "PT Serif", serif, Garamond;
	/* background-image: url(../public/images/test.png); */
	/* background-attachment: fixed; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Garamond, "Libre Bodoni";
}

::-webkit-scrollbar {
	background-color: #8ecae6;
	width: 0.4vw;
}

::-webkit-scrollbar-thumb {
	background: #219ebc;
}

.show {
	opacity: 1 !important;
	visibility: visible !important;
	right: 0 !important;
}
